.menu-section {
    background: url(../../../../assests/img/menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .menu-leaf-overlay{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .menu-wrapper {
        padding: 80px 0 30px 0;
        .menu-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            .breakfast {
                font-size: 60px;
                color: $white;
            }
            .breakfast-subtitle {
                color: $khaki;
                font-size: 18px;
                padding-bottom: 48px;
            }
            .food-menu {
                padding: 0;
                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 30px;
                    list-style-type: none;
                    &:before {
                        content: url(../../../../assests/img/breakfast-crown.png);
                    }
                    &:first-child {
                        &:before {
                            display: none;
                        }
                    }
                    .food-description {
                        font-size: 16px;
                        color: $white;
                        margin-bottom: 6px;
                    }
                    .menu-price {
                        font-size: 36px;
                        color: $crayola;
                    }
                }
            }
        }
        .menu-cards {
            width: 440px;
            .swiper {
                width: 450px;
                padding-right: 40px;
            }
            .swiper-slide {
                background-color: $site-bg;
                padding: 50px 20px 60px;
                text-align: center;
                outline: 1px dashed $dark-liver;
                outline-offset: -10px;
                box-shadow: rgb(0 0 0 / 69%) 0px 5px 15px 0px;
            }
            .established-time {
                display: flex;
                justify-content: space-around;
                text-transform: uppercase;
            }
            img {
                width: 90%;
                padding-bottom: 70px;
            }
            h2 {
                font-size: 44px;
                line-height: 1.3;
                margin-bottom: 30px;
            }
            p {
                color: $dark-liver;
                letter-spacing: 1px;
                line-height: 2;
                padding-bottom: 30px;
            }
        }
    }
}
