.order-section {
    background: url(../../../../assests/img/order-bg.jpg);
    background-size: cover;

    .order-wrapper {
        position: relative;
        padding: 140px 218px 110px 113px;
        @include breakpoint(small) {
            padding: 100px;
        }
        @include breakpoint(extrasmall) {
            padding: 50px;
        }

        .order-rows {
            @include breakpoint(small) {
                flex-direction: column;
            }
            .order-cols {
                padding: 0;
            }
        }

        .order-img {
            height: 100%;
            filter: drop-shadow(0px 0px 20px rgba(50, 50, 0, 0.5));
            .star {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                left: 15px;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .slider-for {
                height: 100%;
                .slick-list {
                    height: 100%;
                    .slick-track {
                        height: 100%;
                        .slick-slide {
                            width: 100%;
                            clip-path: polygon(100% 0, 100% 100%, 11% 100%, 0 92%, 0 0);
                            @include breakpoint(medium) {
                                clip-path: none;
                            }
                            div {
                                height: 100%;
                                .foods-img {
                                    height: 100%;
                                    position: relative;
                                    &:after {
                                        content: "";
                                        width: 0;
                                        height: 0;
                                        border-style: solid;
                                        border-width: 0 60px 60px 0;
                                        border-color: transparent $white transparent transparent;
                                        position: absolute;
                                        bottom: -20px;
                                        left: -14px;
                                        @include breakpoint(wider) {
                                            left: -16px;
                                        }
                                        @include breakpoint(wide) {
                                            bottom: -20px;
                                            left: -30px;
                                        }
                                    }
                                    @include breakpoint(medium) {
                                        &:after {
                                            display: none;
                                        }
                                    }
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .order-content {
            background: url(../../../../assests/img/windmill.png);
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-position-x: right;
            background-color: $white;
            background-size: auto;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            padding: 70px 60px 40px;
            position: relative;
            @include breakpoint(medium) {
                padding: 40px;
            }
            @include breakpoint(small) {
                padding: 15px;
            }
            .order-vertical-ham {
                position: absolute;
                width: 50px;
                height: 50px;
                display: block;
                background-color: $white;
                top: 50%;
                transform: translateY(-50%);
                left: -25px;
                border-radius: 50%;
                .vertical-ham {
                    width: 16px;
                    height: 2px;
                    background-color: $cafeau-laita;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    transform: translate(-50%, -50%) rotate(90deg);
                    &:before {
                        content: "";
                        width: 16px;
                        height: 2px;
                        background-color: $cafeau-laita;
                        display: block;
                        position: absolute;
                        top: 6px;
                    }
                    &:after {
                        content: "";
                        width: 16px;
                        height: 2px;
                        background-color: $cafeau-laita;
                        display: block;
                        position: absolute;
                        bottom: 6px;
                    }
                }
            }
            .order-img-details {
                .foods-description {
                    h2 {
                        margin-bottom: 6px;
                    }

                    h6 {
                        padding-bottom: 50px;
                        @include breakpoint(extrasmall) {
                            padding-bottom: 10px;
                        }
                    }

                    p {
                        margin-bottom: 100px;
                        letter-spacing: 1px;
                    }
                }
            }

            .order-small-preview {
               
                @include breakpoint(small) {
                    margin: 0 auto;
                    width: 85%;
                }
                .slick-prev {
                    border: 1px solid $dark-liver;
                    border-radius: 50%;
                    &:before {
                        content: "<";
                        color: $dark-liver;
                        line-height: unset;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: monospace;
                        margin-bottom: 3px;
                    }
                }
                .slick-slide{
                    width: 150px;
                }
                .slick-next {
                    border: 1px solid $dark-liver;
                    border-radius: 50%;
                    &:before {
                        content: ">";
                        color: $dark-liver;
                        line-height: unset;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: monospace;
                        margin-bottom: 3px;
                    }
                }
                .order-img-small {
                    img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        margin: 0 auto;
                        @include breakpoint(wide) {
                            width: 70px;
                            height: 70px;
                        }
                        @include breakpoint(medium) {
                            width: 50px;
                            height: 50px;
                        }
                        @include breakpoint(small) {
                            width: 70px;
                            height: 70px;
                        }
                        @include breakpoint(smaller) {
                            width: 50px;
                            height: 50px;
                        }
                        @include breakpoint(extrasmall) {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }

    .order-time-taken {
        position: absolute;
        top: 100px;
        right: 100px;
        background: url(../../../../assests/img/order-time.jpg);
        background-size: cover;
        width: 200px;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        @include breakpoint(wide) {
            width: 150px;
            height: 150px;
            right: 90px;
        }
        @include breakpoint(small) {
            top: 50px;
            right: 50px;
        }
        @include breakpoint(smaller) {
            width: 100px;
            height: 100px;
        }
        @include breakpoint(extrasmall) {
            top: 10px;
            right: 0px;
        }
        .slick-slide {
            height: 150px;
            .ready-time {
                text-align: center;

                h6 {
                    padding: 35px 0 0;
                    margin: -10px;
                }

                span {
                    font-size: 90px;
                    font-weight: 700;
                    color: $crayola;
                    @include breakpoint(wide) {
                        font-size: 50px;
                    }
                    @include breakpoint(smaller) {
                        font-size: 30px;
                    }
                }

                p {
                    font-size: 18px;
                    position: absolute;
                    top: 160px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include breakpoint(wide) {
                        top: 100px;
                    }
                    @include breakpoint(smaller) {
                        top: 70px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
