.order-section {
    background: url(../../../../assests/img/order-bg.jpg);
    background-size: cover;

    .order-wrapper {
        position: relative;
        padding: 140px 218px 110px 113px;
        @include breakpoint(small) {
            padding: 100px;
        }
        @include breakpoint(extrasmall) {
            padding: 50px;
        }

        .order-rows {
            @include breakpoint(small) {
                flex-direction: column;
            }
            .order-cols {
                padding: 0;
            }
        }

        .order-img-wd {
            width: calc(50% - 60px);
            @include breakpoint(small) {
                width: 100%;
            }
        }

        .order-img {
            .slick-slide {
                width: 100%;
                .foods-img {
                    img {
                        width: 100%;
                        height: 510px;
                        object-fit: cover;
                        @include breakpoint(small) {
                            height: 200px;
                        }
                    }
                }
            }
        }

        .order-content-wd {
            width: calc(50% + 60px);
            height: 510px;
            @include breakpoint(small) {
                width: 100%;
                height: 310px;
            }
            @include breakpoint(extrasmall) {
                height: 350px;
            }
        }

        .order-content {
            background: url(../../../../assests/img/windmill.png);
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-position-x: right;
            background-color: $white;
            background-size: contain;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            padding: 70px 60px 40px;
            @include breakpoint(medium) {
                padding: 40px;
            }
            @include breakpoint(small) {
                padding: 15px;
            }

            .order-img-details {
                .foods-description {
                    h2 {
                        margin-bottom: 6px;
                    }

                    h6 {
                        padding-bottom: 50px;
                        @include breakpoint(extrasmall) {
                            padding-bottom: 10px;
                        }
                    }

                    p {
                        letter-spacing: 1px;
                    }
                }
            }

            .order-small-preview {
                @include breakpoint(small) {
                    margin: 0 auto;
                    width: 85%;
                }
                .slick-prev {
                    border: 1px solid $dark-liver;
                    border-radius: 50%;
                    &:before {
                        content: "<";
                        color: $dark-liver;
                        line-height: unset;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: monospace;
                        margin-bottom: 3px;
                    }
                }
                .slick-next {
                    border: 1px solid $dark-liver;
                    border-radius: 50%;
                    &:before {
                        content: ">";
                        color: $dark-liver;
                        line-height: unset;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: monospace;
                        margin-bottom: 3px;
                    }
                }
                .order-img-small {
                    img {
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                        @include breakpoint(wide) {
                            width: 70px;
                            height: 70px;
                        }
                        @include breakpoint(medium) {
                            width: 50px;
                            height: 50px;
                        }
                        @include breakpoint(small) {
                            width: 70px;
                            height: 70px;
                        }
                        @include breakpoint(smaller) {
                            width: 50px;
                            height: 50px;
                        }
                        @include breakpoint(extrasmall) {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }

    .order-time-taken {
        position: absolute;
        top: 100px;
        right: 100px;
        background: url(../../../../assests/img/order-time.jpg);
        background-size: cover;
        width: 200px;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        @include breakpoint(wide) {
            width: 150px;
            height: 150px;
            right: 90px;
        }
        @include breakpoint(small) {
            top: 50px;
            right: 50px;
        }
        @include breakpoint(smaller) {
            width: 100px;
            height: 100px;
        }
        @include breakpoint(extrasmall) {
            top: 10px;
            right: 0px;
        }
        .slick-slide {
            height: 150px;
            .ready-time {
                text-align: center;

                h6 {
                    padding: 35px 0 0;
                    margin: -10px;
                }

                span {
                    font-size: 90px;
                    font-weight: 700;
                    color: $crayola;
                    @include breakpoint(wide) {
                        font-size: 50px;
                    }
                    @include breakpoint(smaller) {
                        font-size: 30px;
                    }
                }

                p {
                    font-size: 18px;
                    position: absolute;
                    top: 160px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include breakpoint(wide) {
                        top: 100px;
                    }
                    @include breakpoint(smaller) {
                        top: 70px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
