.order-section {
    background: url(../../../../assests/img/order-bg.jpg);
    background-size: cover;

    .order-wrapper {
        position: relative;
        padding: 140px 218px 110px 113px;

        .order-cols {
            padding: 0;
        }

        .order-img-wd {
            width: calc(50% - 60px);
        }

        .order-img {
            .foods-img {
                img {
                    width: 100%;
                    height: 510px;
                    object-fit: cover;
                }
            }
        }

        .order-content-wd {
            width: calc(50% + 60px);
        }

        .order-content {
            background: url(../../../../assests/img/windmill.png);
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-position-x: right;
            background-color: $white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 70px 60px 40px;

            .order-img-details {
                .foods-description {
                    h2 {
                        margin-bottom: 6px;
                    }

                    h6 {
                        padding-bottom: 50px;
                    }

                    p {
                        letter-spacing: 1px;
                    }
                }
            }

            .order-small-preview {
                .slick-prev {
                    border: 1px solid $dark-liver;
                    border-radius: 50%;
                    &:before {
                        content: "<";
                        color: $dark-liver;
                        line-height: unset;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: monospace;
                        margin-bottom: 3px;
                    }
                }
                .slick-next {
                    border: 1px solid $dark-liver;
                    border-radius: 50%;
                    &:before {
                        content: ">";
                        color: $dark-liver;
                        line-height: unset;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: monospace;
                        margin-bottom: 3px;
                    }
                }
                .order-img-small {
                    img {
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .order-time-taken {
        position: absolute;
        top: 100px;
        right: 100px;
        background: url(../../../../assests/img/order-time.jpg);
        background-size: cover;
        width: 200px;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .ready-time {
            text-align: center;

            h6 {
                padding: 35px 0 0;
                margin: -10px;
            }

            span {
                font-size: 90px;
                font-weight: 700;
                color: $crayola;
            }

            p {
                font-size: 18px;
                position: absolute;
                top: 160px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
