.main-btn {
    display: inline-block;
    text-decoration: none;
    padding: 15px 54px;
    border: 1px dashed $btn-border;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    color: $white;
    background-color: $dark-liver;
    opacity: 0.5;
    @include breakpoint(medium) {
        padding: 7px 27px;
    }
    &:hover {
        background-color: #895438d6;
        color: $white;
        opacity: 1;
    }
}

.card-btn {
    text-decoration: none;
    color: $cafeau-laita;
    text-transform: uppercase;
    border: 1px solid $btn-border;
    padding: 10px 60px;
    background: transparent;
    &:hover{
        background-color: $cafeau-laita;
        color: $white;
    }
}


.recipe-btn{
    color: $crayola;
    background-color: $white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 1px dashed $crayola;
    @include breakpoint(small){
        font-size: 12px;
        padding: 7px 15px;
    }
}