.main-btn{
    display: inline-block;
    text-decoration: none;
    padding: 15px 54px;
    border: 1px dashed $btn-border;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    color: $white;
    background-color: $dark-liver;
    opacity: 0.5;
    @include breakpoint(medium){
        padding: 7px 27px;
    }
    &:hover{
        background-color: #895438d6;
        color: $white;
        opacity: 1
    }
}