body{
    font-family: $alegreya;
    font-size: 14px;
    color: $dark-liver;
}

h1{
 font-size: 92px;
 font-weight: 700;
}

h2{
    font-size: 48px;
    font-weight: 700;
    color: $dark-liver;
    margin-bottom: 2px;
    @include breakpoint (wide) {
    font-size: 35px;
}
    @include breakpoint(medium){
        font-size: 24px;
    }
}

h3{
    font-size: 30px;
    font-size: 700;
    color: $white;
}

// h4{
//     font-size: ;
// }

h5{
    font-size: 24px;
    font-weight: 700;
    color: $dark-liver;
    margin: 0;
    @include breakpoint(medium){
        font-size: 16px;

    }
    @include breakpoint(extrasmall){
        font-size: 14px;
    }
}

h6{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $cafeau-laita;
    padding-bottom: 58px;
    @include breakpoint(medium){
        font-size: 10px;
    }
    @include breakpoint(wider){
        padding-bottom: 35px;
    }
    @include breakpoint(wide){
        padding-bottom: 20px;
    }
}

