/* fonts */

$scriptina : scriptina, scriptina-alternates;
$alegreya  : alegreya;
$proxima : proxima-nova-rg;
$playfair : playfair-display;


/* colors */

$white: #ffffff;
$dark-liver: #56534c;
$cafeau-laita: #a47d5e;
$light-french-beige: #c9b176;
$btn-border: #9e9c93;
$quote: #b6b5b2;
$site-bg: #f3f1e9;
$crayola: #dfc691;
$khaki : #c8a593;
$philippin-gray: #979285;